html, body {
    width: 100%;
    height: 2200px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
    font-family: 'NTR', sans-serif;
    color: white;
  }


html{
  overflow-y: scroll;
}

body { 
  position: absolute; 
}


.home{  
  margin-left: 10rem;
  height: 100vh;
  color: white;
}

  

.work{
  margin-left: 10rem;
  height: 100vh;
  color: white;
}


.creations{
  margin-left: 4rem;
  color: white;
  height: 100vh;
}

.subtitlec{
  margin-left: 4rem;
}

.subtitlec .lines {
  display: inline-block;
  content: "";
  position: relative;
  height: 2px;
  width: 300px;
  background: #fff;
  top: -2px;
  right: -10px;
}

.subtitle{
  color: white;
}

.subtitle .lines {
  display: inline-block;
  content: "";
  position: relative;
  height: 2px;
  width: 300px;
  background: #fff;
  top: -2px;
  right: -10px;
}


body canvas{
    display: block;
    width: 612.4px;
    height: 500px;
}


#particles-js{

  width: 100%;
  height: 100%;
  position: absolute;

}

.cards{
  margin-left: 10%;
}




.container{

  top: 0;
  position: relative;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  
  
}


.container .card{
  float: left;    
  width: 220px;
  margin: 20px;
  padding: 40px 30px;
  background: #f5f5f5;
  border-radius: 40px;
  box-shadow: -6px -6px 20px rgb(255, 255, 255, 0.2),
              6px 6px 20px rgba(0, 0, 0, 0.1);
}


.container .card:hover{
  box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5),
              inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}


.container .card .imgBx{
  position: relative;
  text-align: center;
}

.container .card .imgBx img{
  max-width: 120px;
}

.container .card .contentBx{
  position: relative;
  margin-top: 20px;
  text-align: center;
}


.container .card .contentBx h2{
  color: #262626;
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: 2px;
}


.container .card .contentBx p{
  color: #262626;

}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 40px;
  color: #262626;
  font-size: 16px;
  text-decoration: none;
  box-shadow: -4px -4px 15px rgba(255, 255, 255, 1),
  4px 4px 15px rgba(0, 0, 0, 0.1);
}

.container .card .contentBx a:hover{
  box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
  inset 4px 4px 10px rgba(0, 0, 0, 0.1);
  color: #00acee;
}


.container .card .contentBx a:span{
  display: block;
  transform: scale(0.98);
}


.container .card:hover .imgBx,
.container .card:hover .contentBx{
  transform: scale(0.98);
}

.panda{
  height: 70px;
  width: 70px;
}

.graphique{
  height: 65px;
  width: 65px;
}

.pibe{
  height: 70px;
  width: 70px;
}

.tabs {
  color: #f5f5f5;
  position:absolute;
  top:60rem;
  left:50%;
  transform:translate(-50%,-50%);
  width:680px;
  height:360px;
  padding:30px 20px;
  overflow:hidden;
  border-radius: 10px;
}
.tabs .tab-header {
  float:left;
  width:180px;
  height:100%;
  border-right:1px solid #ccc;
  padding:50px 0px;
}
.tabs .tab-header > div {
  height:50px;
  line-height:50px;
  font-size:16px;
  font-weight:600;
  color:#888;
  cursor:pointer;
  padding-left:10px;
}
.tabs .tab-header > div:hover,
.tabs .tab-header > div.active {
  color:#00acee;
}
.tabs .tab-header div i {
  display:inline-block;
  margin-left:10px;
  margin-right:5px;
}
.tabs .tab-content {
  position:relative;
  height:100%;
  overflow:hidden;
}
.tabs .tab-content > div > i {
  display:inline-block;
  width:50px;
  height:50px;
  background:#555;
  color:#f5f5f5;
  font-size:25px;
  font-weight:600;
  text-align:center;
  line-height:50px;
  border-radius:50%;
}
.tabs .tab-content > div {
  position:absolute;
  text-align:center;
  padding:40px 20px;
  top:-200%;
  transition:all 1s ease-in-out;
}
.tabs .tab-content > div.active {
  top:0px;
}
 
.tabs .tab-indicator {
  position:absolute;
  width:4px;
  height:50px;
  background:#00acee;
  left:198px;
  top:80px;
  transition:all 500ms ease-in-out;
}


.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.nav{
  list-style: none;
}

a{
  color: #00acee;
  text-decoration: none;
}

a:hover{
  color: white;
}



.accroche, .accroche2{
  color: white;
  text-align: center;
}

.accroche{

  font-size: 3rem;
}

.accroche2{
  font-size: 1rem;
}
.hi{
  font-weight: 100;
  font-size: 5rem;
  margin: 0;
}

.textanim{
  position: absolute;
  z-index: 200;
  top: 9%;
  font-size: 2rem;
  display: inline-block;
}