*, ::before ::after{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-family: "Poppins",sans-serif;
}



body {
    width: 100%;
    height: 100vh;
}

.h1{
    font-size: 5px;
    padding-top: 250px;
    padding-left: 440px;
    display: flex;
}

.heading p{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3mm;
}
