html{
    font-family: 'NTR', sans-serif;
    height: 500px;
    width: 960px;
    margin: 0px;
    right: 0;
}



body {
    min-height: 100vh;
    width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.body-particles{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
#particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #262626;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

section{
    min-height: 550px;
    position: relative;
}





h2, p{
    color: white;
}






.heading1{
    margin-left: 20%;
    display: flex;
}



.heading1 p
{
    position: relative;
    bottom: 1px;
    text-align: center;
    padding: 20px;
}

.heading1 img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    align-items: center;
}




.container{
    
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    
    
}


.container .card{
    float: left;    
    width: 220px;
    margin: 20px;
    padding: 40px 30px;
    background: white;
    border-radius: 40px;
    box-shadow: -6px -6px 20px rgb(255, 255, 255, 0.2),
                6px 6px 20px rgba(0, 0, 0, 0.1);
}


.container .card:hover{
    box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5),
                inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}


.container .card .imgBx{
    position: relative;
    text-align: center;
}

.container .card .imgBx img{
    max-width: 120px;
}

.container .card .contentBx{
    position: relative;
    margin-top: 20px;
    text-align: center;
}


.container .card .contentBx h2{
    color: #262626;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 2px;
}


.container .card .contentBx p{
    color: #262626;

}

.container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 40px;
    color: #262626;
    font-size: 16px;
    text-decoration: none;
    box-shadow: -4px -4px 15px rgba(255, 255, 255, 1),
    4px 4px 15px rgba(0, 0, 0, 0.1);
}

.container .card .contentBx a:hover{
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.1);
}


.container .card .contentBx a:span{
    display: block;
    transform: scale(0.98);
}


.container .card:hover .imgBx,
.container .card:hover .contentBx{
    transform: scale(0.98);
}

.panda{
    height: 70px;
    width: 70px;
}

.graphique{
    height: 65px;
    width: 65px;
}


.subtitle{
    margin-left: 200px;
}


.accroche, .accroche2{
    color: white;
    margin-left: 20%;
    text-align: center;
}

.accroche{

    font-size: 3rem;
}

.accroche2{
    font-size: 1rem;
}