*, ::before ::after{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-family: "Poppins",sans-serif;
}



body {
    width: 100%;
    height: 100vh;
}



header{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0px;
    background: white;

}


nav{
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1{

    font-size: 1rem;
    flex: 1;

}

nav ul{
    list-style: none;
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
}


section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2{
    font-size: 2rem;
}


.heading p{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3mm;
}

.bubble{
    position: absolute;
    z-index: -2; 
}

.container {
    position: relative;
    width: 900px;
    height: 300px;
}

.container .box{
    position: relative;
    width: calc(300px - 30px);
    height: calc(300px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}


.container .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 1;
}

.container .box:hover .icon{

    top: 5%;
    left: 33%;
    width: 100px;
    height: 80px;
    border-radius: 50%;
}


.container .box .icon .fa{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}

.container .box:hover .icon .fa{
    font-size: 40px ;
}


.container .box .content{
    position: absolute;
    top: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.container .box:hover .content{
    top: 80px;
    opacity: 1;
}



.container .box .content h3{


    margin: 0;
    padding: 0;
    color: white;
    font-size: 24px;

}

.container .box .content p{


    margin: 0;
    padding: 0;
    color: white;
    font-size: 1;
    
}


.container .box:nth-child(1) .icon{
    background: #878f99;
}

.container .box:nth-child(1){
    background: #a2b9bc;
}