body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #262626;
  }


body canvas{
    display: block;
    width: 612.4px;
    height: 500px;
}


#particles-js{

  width: 100%;
  height: 100%;
  position: absolute;

}


