html, body {
    width: 100%;
    height: 5000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
    font-family: 'NTR', sans-serif;
    color: white;
  }


html{
  overflow-y: scroll;
}

body { 
  position: absolute; 
}




  
body canvas{
    display: block;
    width: 612.4px;
    height: 500px;
}


#particles-js{

  width: 100%;
  height: 100%;
  position: absolute;

}

.cards{
  margin-left: 10%;
}




.container{
    
  position: relative;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  
  
}


.container .card{
  float: left;    
  width: 220px;
  margin: 20px;
  padding: 40px 30px;
  background: white;
  border-radius: 40px;
  box-shadow: -6px -6px 20px rgb(255, 255, 255, 0.2),
              6px 6px 20px rgba(0, 0, 0, 0.1);
}


.container .card:hover{
  box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5),
              inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}


.container .card .imgBx{
  position: relative;
  text-align: center;
}

.container .card .imgBx img{
  max-width: 120px;
}

.container .card .contentBx{
  position: relative;
  margin-top: 20px;
  text-align: center;
}


.container .card .contentBx h2{
  color: #262626;
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: 2px;
}


.container .card .contentBx p{
  color: #262626;

}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 40px;
  color: #262626;
  font-size: 16px;
  text-decoration: none;
  box-shadow: -4px -4px 15px rgba(255, 255, 255, 1),
  4px 4px 15px rgba(0, 0, 0, 0.1);
}

.container .card .contentBx a:hover{
  box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
  inset 4px 4px 10px rgba(0, 0, 0, 0.1);
}


.container .card .contentBx a:span{
  display: block;
  transform: scale(0.98);
}


.container .card:hover .imgBx,
.container .card:hover .contentBx{
  transform: scale(0.98);
}

.panda{
  height: 70px;
  width: 70px;
}

.graphique{
  height: 65px;
  width: 65px;
}


.tabs{
  top: 50%;
  left: 50%;
  width: 680px;
  height: 360px;
  padding: 30px 20px;
  background: white;
  box-shadow: 5px 5px 10px 5px #fff;
  overflow: hidden;
  color: black;
}

.tabs .tab-header{
  float: left;
  width: 180px;
  height: 100%;
  border-right: 1px solid #ccc;
  padding: 50px 0px;
  color: black;
}

.tabs .tab-header > div {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #888;
  cursor: pointer;
  padding-left: 10px;
}